{% extends 'UtopiaBundle::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Détail Catégorie
            </h1>

        </div>
    </div>
    <div class="container">
        <div class="notice notice-success">
            <strong>Identifiant </strong>{{ entity.id }}
        </div>
        <div class="notice notice-info">
            <strong>Nom</strong> {{ entity.nom }}
        </div>
        {{ form_start(delete_form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="notice notice-danger">
            <strong>Supprimer </strong> {{ form_widget(delete_form.supprimer, {'attr': {'class': 'btn btn-danger pull-right'}}) }}
        </div>
    </div>


{% endblock %}
