{% extends 'UtopiaBundle::base.html.twig' %}

{% block body -%}
    <div class="row">

        <div class="col-md-10 blogShort">
            <h1>{{ entity.titre }}</h1>
            <img src="{{ asset('uploads/img/' ~ entity.imageArticle.url) }}" style="height: 25%; width: 30%;" class="pull-left img-responsive postImg img-thumbnail margin10">
            <article>
                    {{ entity.description }}
            </article>

        </div>
    </div>
{% endblock %}
